<%= form_for(@click_frequency) do |f| %>
  <% if @click_frequency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@click_frequency.errors.count, "error") %> prohibited this click_frequency from being saved:</h2>

      <ul>
      <% @click_frequency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :count %><br>
    <%= f.number_field :count %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :measure_name_id %><br>
    <%= f.text_field :measure_name_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
