<p id="notice"><%= notice %></p>

<p>
  <strong>Count:</strong>
  <%= @click_frequency.count %>
</p>

<p>
  <strong>User:</strong>
  <%= @click_frequency.user %>
</p>

<p>
  <strong>Measure name:</strong>
  <%= @click_frequency.measure_name %>
</p>

<%= link_to 'Edit', edit_click_frequency_path(@click_frequency) %> |
<%= link_to 'Back', click_frequencies_path %>
